/*Общий css файл для всех страниц проекта*/
* {
    margin: 0;
    padding: 0;
}

body.main_page {
    background-image: url("../images/main.jpg");
    background-repeat: no-repeat;
    width: 100px;
}

#main {
    width: 200px;
    margin-left: 1460px;
    margin-top: 10px;
}

#button1 {
    margin-bottom: 5px;
}

#danger {
    width: 400px;
    margin-bottom: 20px;
}

#button_no_ok, a {
    text-decoration: none;
    color: white;
}

#button_ok, a {
    text-decoration: none;
    color: #090000;

    width: 200px;
}

#position_1 {
    text-align: center;
}

#container_position {
    text-align: center;
    margin-top: 20px;
}

body.interview {
    background-color: #446291;
    text-align: center;
    background-image: repeating-linear-gradient(
            100deg,
            rgba(200, 200, 200, 0.06),
            rgba(200, 200, 200, 0.06) 5px,
            transparent 0,
            transparent 40px
    ),
    repeating-linear-gradient(
            -100deg,
            rgba(200, 200, 200, 0.06),
            rgba(200, 200, 200, 0.06) 5px,
            transparent 0,
            transparent 40px
    );

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body.completed_login {
    text-align: center;
}


body.test_result {
    text-align: center;
}

